.projects-wrapper-outer {
  /* width: 100%; */
  max-width: 500px;
  padding: 10px;
}

.projects-wrapper {
  width: 100%;
  min-height: 200px;
  padding: 20px;
  background-color: var(--main-box-color);
}

@media (max-width: 490px) {
  .info-box {
    margin-left: 0;
  }
  .projects-wrapper-outer {
    padding: 0;
  }
}
@media (min-width: 1000px) {
  .projects-wrapper-outer {
    max-width: 1000px;
  }

  .projects-wrapper {
  }
}
