.tech-skills li {
  width: 48%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tech-skills {
  display: flex;
  flex-direction: column;
}

.tech-skills ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tech-skills p {
  padding-left: 5px;
  display: inline;
}

.tech-skills .category {
  font-size: 10px;
  font-weight: 700;
}

.tech-skills .legend {
  font-size: 10px;
  text-align: center;
  margin-top: 8px;
  color: #a1d5fc;
}
.bold {
  font-weight: 700;
  color: white;
}

.circle {
  width: 8px;
  height: 8px;
  margin: 1px;
  border-radius: 50%;
  display: inline-block;
  border-color: #eff6fc;
  border-width: 1px;
  border-style: solid;
  position: relative;
}
.tech-skills .filled {
  background-color: #eff6fc;
}

.half-circle-outer {
  width: 4px;
  height: 8px;
  position: absolute;
  top: -1px;
  left: -1px;
  overflow: hidden;
}
.half-circle-inner {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  border-width: 1px;
  background-color: #eff6fc;
}
