.portfolio-app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-boxes {
  min-width: 375px;
}

.info-box {
  margin: 10px;
  background-color: var(--main-box-color);
  padding: 20px;
  width: 100%;
  max-width: 480px;
}

@media (min-width: 1000px) {
  .info-boxes {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 600px;
  }
  .info-box {
    width: 50%;
  }
}
